// Custom fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$font-family-base: "Mulish", sans-serif;
$font-size-base: 1rem * .875;

// Custom variables
$h1-font-size: 6vw;
$h2-font-size: 5vw;
$h3-font-size: 4vw;
$h4-font-size: 3vw;
$h5-font-size: 2vw;
$h6-font-size: 1.5vw;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 0.75,
  4: $spacer * 1,
  5: $spacer * 1.25
);


// Import function & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "dark-grey": rgb(160, 163, 189),
  "grey": rgb(222, 222, 222),
  "bright-grey": rgb(239, 240, 246),
  "light-grey": rgb(246, 246, 248),
  "lighter-grey": rgb(252, 253, 254),
  "blue": rgb(29, 78, 216)
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$custom-position-values: (
  5: 5%,
  6: 6%,
  7: 7%,
  8: 8%,
  9: 9%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
);

$position-values:map-merge($custom-position-values, $position-values);

$custom-spacers: (
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.5,
  10: $spacer * 3,
  11: $spacer * 3.5,
  12: $spacer * 4,
  13: $spacer * 4.5,
  14: $spacer * 5,
  15: $spacer * 5.5,
  16: $spacer * 6,
  17: $spacer * 6.5,
  18: $spacer * 7,
  19: $spacer * 7.5,
  20: $spacer * 8,
  21: $spacer * 10,
  22: $spacer * 12,
  23: $spacer * 14,
  24: $spacer * 16,
  25: $spacer * 18,
);

$spacers: map-merge($custom-spacers, $spacers);

$custom-font-sizes: (
  7: 1 vw,
  8: 0.75vw,
  9: 0.5vw,
  10: 0.25vw
);

$font-sizes: map-merge($custom-font-sizes, $font-sizes);

  // --black: rgb(18, 18, 18);
  // --light-black: rgb(78, 75, 102);
  // --darkest-grey: rgb(105, 111, 121);
  // --darker-grey: rgb(170, 170, 170);
  // --dark-grey: rgb(160, 163, 189);
  // --grey: rgb(222, 222, 222);
  // --blue: rgb(29, 78, 216);
  // --light-blue: rgb(37, 99, 235);
  // --hover-color: rgba(240,240,240, 0.5)

  
// Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";